.banner-1-img {
  width: 100%;
  height: 100vh;
  object-fit: fill;
  filter: blur(5px);
}

.banner-1-heading-wrapper {
  position: absolute;
  top: 40vh;
  padding: 0 5rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.banner-1-heading {
  color: #fff;
  font-size: 3.5rem;
  font-weight: bolder;
}

.contact-us-btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.contact-us-btn-wrapper {
  background-color: #f65c78;
  width: fit-content;
  height: 3rem;
  width: 16rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
}



@media only screen and (max-width: 600px) {

  .banner-1-img {
    height: 80vh;
  }

  .banner-1-heading-wrapper{
    top: 35vh;
  }
  .banner-1-heading{
    font-size: 2rem;

  }

  .banner-1-heading-wrapper {
    padding: 0 1rem 0 1rem;
  }

  .contact-us-btn-wrapper {
    height: 2rem;
    width: 12rem;
  }

  .contact-us-btn {
    font-size: 1rem;
  }
}